<%= form_tag sessions_path, class: "ui large form #{'error' if flash[:error]} #{'notice' if flash[:notice]}" do %>
  <div class="ui stacked segment">
    <div class="field">
      <div class="ui left icon input">
        <i class="user icon"></i>
        <%= text_field_tag :email, nil, placeholder: "E-mail address" %>
      </div>
    </div>
    <div class="field">
      <div class="ui left icon input">
        <i class="lock icon"></i>
        <%= password_field_tag :password, nil, placeholder: "Password" %>
      </div>
    </div>
    <div class="ui fluid large teal submit button">Login</div>
  </div>

  <%= render "shared/flash" %>
<% end %>
