<div class="ui text center aligned container">
  <h1 class="ui header">Edit Note</h1>

  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <%= render "notes/form" %>
    </div>
  </div>

</div>
