<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">

      <div class="content">
        <%= image_tag "sharpspring-perfectaudience.png", class: 'image' %>
        <%= t "menu.sign_up" %>
      </div>
    </h2>
    <%= render "registrations/form" %>
    <div class="ui message">
      Have an account? <%= link_to "Log in", new_session_path %>
    </div>
    <div class="">
      <sub>by: Kadeem Pardue - kadeempardue@gmail.com</sub>
    </div>
  </div>
</div>
