<!-- Crunch them into oneliners so css :empty pseudoclass is respected -->
<div class="ui error message" style="<%= "display:block;" if flash[:error] %>"><% if flash[:error] %><%= flash[:error] %><% end %></div>
<div class="ui success message" style="<%= "display:block;" if flash[:notice] %>"><% if flash[:notice] %><%= flash[:notice] %><% end %></div>
