<% return unless user_signed_in? %>
<div class="ui inverted vertical footer segment app">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">About</h4>
        <div class="ui inverted link list">
          <%= link_to "Github", "https://github.com/soultheory/sharpspring", target: "_blank", class: "item" %>
          <%= link_to "Resume", "https://drive.google.com/file/d/16be1mzRMPdmUNei-D_rkLPeaxcv_p0Uq/view?usp=sharing", target: "_blank", class: "item" %>
          <%= link_to "Email Me", "mailto:kadeempardue@gmail.com", target: "_blank", class: "item" %>
        </div>
      </div>
      <div class="ten wide column">
        <h4 class="ui inverted header">Copyright &copy; <%= Time.now.year %> Kadeem Pardue.</h4>
        <p>:)</p>
      </div>
    </div>
  </div>
</div>
