// Color Palette - https://coolors.co/555b6e-5daac6-bee3db-faf9f9-ffd6ba
$black-coral: #555B6E;
$turquoise: #5DAAC6;
$columbia-blue: #BEE3DB;
$snow: #FAF9F9;
$peach-puff: #FFD6BA;
$green: #2E882E;

$light-turquoise: #4D92AB;
